
/* Mobile device >>>>> */
@media (min-width: 768px){
    .desktop-hide {
        display: none;
    }
}

/* Mobile devies max width <<<<< */
@media (max-width: 767px) {
    .container {
        max-width: 95%;
        width: 95%;
        margin: 0px auto;
    }
    /* tvc ads */
    .tvc-modal {
        top: 0px;
    }
    .featured-modal {
        width: 100%;
        height: 210px;
        max-width: 90%;
        margin: 0px auto;
        position: relative;
    }
    .tvc-cancel {
        right: 0px;
        top: -15px;
        width: 25px;
        height: 25px;
    }
    .tvc-play-button {
        bottom: 5%;
        height: 40px;
        width: 40px;
        right: 45px;
    }

    header {
        display: none;
    }
    header.activeMenu {
        display: none;
    }
    .flex{
        flex-direction: column;
    }
    .our-service-wrapper, .office-info-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .call-to-action-wrapper button{
        width: unset;
        margin-top: 10px;
        font-size: 16px;
    }
    .testimonial-wrapper{
        flex-direction: column;
    }

    .left-slide, .right-slide {
        display: none;
    }
    .hero-title h1 {
        font-size: 55px !important;
        text-align: center;
        margin: 50px; 

    }
    .bg {
        height: 196px;
        left: -101px;
        top: -120px;
    }
    
    .title h2::before {
        font-size: 56px;
        left: 36px;
        right: 78px;
        top: -20px;
        text-shadow: unset;
    }
    .featured-left{
        display: none;
    }
    .bg1 {
        height: 166px;
        top: -110px;
    }
    .featured-right h2 {
        line-height: 35px;
        font-family: poppinsBold;
        margin-bottom: 11px;
    }
    .featured-wrapper{
        margin-top: 20px;
    }
    .featured-right .featured-subtitle, .featured-right p, .footer-bio p{
        color: var(--light);
    }
    .blog-wrapper{
        flex-direction: column;
    }
    .blog-section{
        padding: 20px 0px;
    }

    /* Campaign */
    .campaign-title h2::before {
        font-size: 56px;
        left: 36px;
        right: 78px;
        top: -20px;
        text-shadow: unset;
    }
    .campaign-title{
        margin-bottom: 15px;
    }
    .campaign-section {
        margin-bottom: 10px;
        margin-top: 30px;
    }

    /* team */
    .team-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    .team-bg{
        height: 140px;
    }

    .footer-wrapper{
        flex-direction: column;
    }
    .footer-section{

    }
    .footer-logo-thumb {
        position: relative;
        margin: unset;
        margin-bottom: 40px;
        width: 173px;
    }
    .footer-logo-thumb img {
        position: absolute;
        top: -52px;
    }
    .footer-bg {
        background-position: right;
        height: 240px;
        position: absolute;
        right: 0px;
        top: -121px;
        width: 180px;
    }
    .footer-box{
        padding: 10px 20px;
    }
    .footer-links li{
        padding: unset;
    }
    .footer-links a{
        font-size: 14px;
    }
    .footer-title h2 {
        font-family: poppins;
        font-size: 16px;
        text-transform: uppercase;
    }
    .footer-bio p{
        font-size: 15px;
    }

    /* Single page */
    .single-thumb{
        height: 230px;
    }
    .single-title{
        bottom: 4px;
    }
    .single-title h1{
        font-size: 23px;
    }
    .single-wrapper{
        padding: 5px;
        margin-top: 10px;   
    }
    .single-content p{
        font-size: 15px;
        color: var(--light);
    }
    .single-excerpt p{
        margin-bottom: unset;
        font-size: 14px;
        font-family: poppins;
    }
    .thumb-title{
        z-index: unset;
    }
    /* new style */
    .form-wrapper{
        width: 100%;
    }
    .mobile-header-wrapper{
        flex-direction: unset;
    }
    .dia-footer-shape3{
        display: none;
    }
    .footer-bottom{
        height: unset;
        background: var(--brandColor);
    }
    .footer-bottom-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: unset;
    }
    .bg1{
        display: none;
    }
    .hero-content span {
        font-size: 40px;
        text-shadow: 3px 5px 4px #00000021;
    }
    .hero-content h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .hero-content{
        margin-top: 100px;
    }
    .hero-content-buttons{
        flex-direction: unset;
    }
    .about-button, .contact-button{
        padding: 10px 15px;
        font-size: 16px;
    }
    .hero-image {
        width: 100%;
        margin-top: unset;
        position: relative;
        height: unset;
    }
    .featured-in-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-in-box {
        min-height: 90px;
        padding: 10px;
    }
    .featured-right .span-light{
        font-size: 35px;
    }
    .featured-right .span-bold{
        font-size: 22px;
    }
    .grow-your-business-content h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .three-col-wrapper{
        grid-gap: 7px;
    }
    .our-service-box{
        border: 1px solid var(--brandColor);
    }
    .our-service-title h2{
        font-size: 30px;
    }
    .underline{
        margin-bottom: 10px;
    }
    .our-service-title{
        margin-bottom: unset;
    }
    .testimonial-box iframe {
        width: 100%;
        height: 250px;
    }
    .counter-wrapper {
        grid-gap: 7px;
    }
    .call-to-action-wrapper{
        max-width: 100%;
    }
    .call-to-action-wrapper h2 {
        font-size: 31px;
        line-height: 40px;
    }
    .call-to-action-wrapper h3 {
        text-transform: uppercase;
        font-size: 24px;
        margin: 13px 0px;
        font-weight: 400;
    }
    .blog-title h2 {
        font-size: 26px;
        margin-top: 20px;
    }
    .blog-title .underline {
        margin: unset;
    }
    .form-wrapper  h2 {
        padding: 12px 10px;
        font-size: 15px;
    }
    .form-section{
        padding: 35px 0px;
    }
    .form-content {
        width: 100%;
        margin-top: 20px;
    }
    .office-wrapper {
        grid-gap: 20px;
    }
    .office-box{
        height: 145px;
    }
    .footer-bio p{
        color: white;
    }
    .icon-wrapper{
        padding: 35px 0px;
    }
    .icon-item svg{
        height: auto;
    }
    .two-col-section {
        padding: 30px 0px;
    }
    .first-col h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .client-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    .client-item img{
        height: auto;
    }
    .client-header h2 {
        font-size: 35px;
        line-height: 41px;
        margin-bottom: 8px;
    }
    .padding {
        padding: 35px 0px;
    }
    .our-service-title h2 {
        font-size: 24px;
        max-width: 90%;
        margin: 0px auto;
    }
    .our-service-template-header p {
        font-size: 17px;
        width: 100%;
        margin: 0px auto;
        margin-top: 10px;
    }
    .our-service-template-header {
        margin-bottom: 20px !important;
    }
    .two-col-wrapper{
        grid-gap: unset;
    }
    .success-story-item{
        grid-gap: unset;
    }
    .success-story-content h2{
        font-size: 18px;
    }
    .success-story-content h3 {
        font-size: 15px;
        margin-bottom: unset;
        padding-bottom: unset;
        line-height: 18px;
    }
    .success-story-content ul{
        flex-direction: column;
        grid-gap: unset;
    }
    .success-story-wrapper{
        padding: unset;
    }
    .success-story-thumb {
        height: 245px;
        overflow: hidden;
        margin-bottom: 6px;
    }
    .our-core-value-title-wrapper button {
        padding: 5px 10px;
        font-size: 12px;
    }
    .our-core-value-content {
        padding: 5px;
        margin-top: 10px;
    }
    .our-core-value-content p {
        font-size: 16px;
    }
    .call-to-action-section {
        padding: 35px 0px;
    }
    .we-white-hat-content p {
        font-size: 18px;
        text-align: left;
    }
    .we-are-white-hat-title h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .two-col-section{
        padding-bottom: 10px;
    }
}